.mainBox{
    display: flex;
    background: url('../Images/HomeBG.jpg');
    height: 80vh;
    padding-top: 43px;
    
}
.mainLeft{
    margin-top: -44px;
    justify-content: space-evenly;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.mainRight{
    width: 40%;
    /* background-color: rgb(213, 213, 213); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainDesc h3{
    width: 87%;
    text-align: left;
    
    
}
.mainHeading h1{
    font-family: AtypDisplay-Medium, Arial, sans-serif;
    width: 79%;
    text-align: left;
    font-size: 3.375rem;
    color: blue;
}

.mainButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 55px;
    /* margin: auto; */
    width: 20rem;
}
.mainButtons span{
    cursor: pointer;
    width: 123px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}
.loginn{
    background-color: blue;
    color: white;
    font-weight: 500;
}
.Signn{
    color: blue;
    background-color: white;
    font-weight: 500;
}

.img img{
    height: 278px;
    width: 402px;
}

.container{
    --bs-gutter-x: 3.5rem!important;
}

@media only screen and (max-width: 600px){
    .mainBox{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .mainHeading{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainDesc{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainLeft{
        width: 100%;
        margin-top: 0;
    }
    .mainHeading h1{
        width: 91%;
        font-size: 2.375rem;
    }
    .mainDesc h3{
        font-size: 1.34rem;
    }
    .mainButtons{
        flex-direction: column;
        height: 169px;
    }
    .mainButtons span{
        height: 39%;
    }
    .mainRight{
        width: 100%;
    }
}