.aboutHeading1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../Pages/Images/BgAbout.svg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    height: 47vh;
}

.aboutHeading h1 {
    font-size: 5rem;
}

.aboutDesc p {
    font-size: 1.5rem;
}
/* .container{
    margin-left: 0!important;
} */