 .mainSpecLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.mainSpecRight{
    width: 40%;
} 

.specdesc{
    text-align: left;
    font-size: 1.2rem;
}

.mainSpecRight img{
    width: 573px;
}
.desc3{
    display: flex;
    padding-left: 31px;
}
.mainImg{
    width: 135vh;
    height: 66vh;
}
.mainImg img{
    height: 100%;
    width: 100%;
}
